<div class="d-flex flex-row ps-3">
        <div class="col-md-3 upper">
            <input type="checkbox" name="" id="sideMenu-active" />
          <div class="row sideMenu me-md-2 me-10">
                <!-- 標題 -->
                <h1 class="letter-spaing-1em fw-bold Noto-Sans-CJK-TC fs-3 pr_color">股票分類</h1>
                
                <!-- side menu -->
                
                <div class="container m-md-2">
                    <!-- 摺疊按鈕 -->
                    <a class="btn-link" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">
                        <span class="d-flex mb-3">
                            <span class="material-icons removeIcon fs-10 me-3">
                                remove
                            </span>
                            <span class="material-icons addIcon fs-10 me-3">
                                add
                            </span>
                            ETF
                        </span>
                    </a>
                    <!-- 摺疊選單 -->
                    <div class="collapse show border_bottom m-md-2" id="collapseExample">
                       
                            <ul>
                                <li class="m-2 pr_color">
                                    <label><input type="checkbox" class="me-md-2" name="" vaule="">區域型</label>
                                </li>
                                <li class="m-2 pr_color">
                                    <label><input type="checkbox" class="me-md-2" name="" vaule="">單一國家型</label>
                                </li>
                                <li class="m-2 pr_color">
                                    <label><input type="checkbox" class="me-md-2" name="" vaule="">產業型</label>
                                </li>
                                <li class="m-2 pr_color">
                                    <label><input type="checkbox" class="me-md-2" name="" vaule="">主題型</label>
                                </li>
                            </ul>
                       
                    </div>
                     <!-- 摺疊選單 -->


                    <!-- 摺疊按鈕 -->
                    <a class="btn-link" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="true" aria-controls="collapseExample2">
                        <span class="d-flex mb-3">
                            <span class="material-icons removeIcon fs-10 me-3">
                                remove
                            </span>
                            <span class="material-icons addIcon fs-10 me-3">
                                add
                            </span>
                            股票
                        </span>
                    </a>
                    <!-- 摺疊選單 -->
                    <div class="collapse show border_bottom m-md-2" id="collapseExample2">
                       
                            <ul>
                                <li class="m-2 pr_color">
                                    <label><input type="checkbox" class="me-md-2" name="" vaule="">金融股</label>
                                </li>
                                <li class="m-2 pr_color">
                                    <label><input type="checkbox" class="me-md-2" name="" vaule="">科技股</label>
                                </li>
                                <li class="m-2 pr_color">
                                    <label><input type="checkbox" class="me-md-2" name="" vaule="">概念股</label>
                                </li>
                                <li class="m-2 pr_color">
                                    <label><input type="checkbox" class="me-md-2" name="" vaule="">民生股</label>
                                </li>
                                <li class="m-2 pr_color">
                                    <label><input type="checkbox" class="me-md-2" name="" vaule="">電信股</label>
                                </li>
                                <li class="m-md-2">
                                    <a href="#">MORE</a>
                                </li>
                            </ul>
                        
                    </div>
                    <!-- 摺疊選單 -->
                    <!-- 摺疊按鈕 -->
                    <a class="btn-link" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="true" aria-controls="collapseExample3">
                        <span class="d-flex mb-3">
                            <span class="material-icons removeIcon fs-10 me-3">
                                remove
                            </span>
                            <span class="material-icons addIcon fs-10 me-3">
                                add
                            </span>
                            價錢
                        </span>
                    </a>
                    <!-- 摺疊選單 -->
                    <div class="collapse show border_bottom me-2 ms-md-2 mt-md-2 mb-4" id="collapseExample3">
                            <ul>
                                <li class="m-2">
                                    <label><input type="textbox" class="pr_textbox me-md-2" name="" vaule="" ></label>
                                </li>
                                
                            </ul>
                    </div>
                    <!-- 摺疊選單 -->

                    <div class="mb-md-4">
                        <ul>
                            <li class="m-2">
                                <button alt="search" class="btn btn-primary">
                                    <div class="fit">查詢分類</div>
                                </button>
                            </li>
                            
                        </ul>
                        
                    </div>
                </div>
                <label for="sideMenu-active" class="labelSidebar">
                    <i class="fas fa-angle-right"></i>
                  </label>
            </div>
        
        </div>

      <!-- 主要呈現部分 -->
    <div class="container lower">
        <div class="d-flex flex-row justify-content-around">


            <!-- 浮動標籤 -->
            <div class="form-floating mb-3">
                <select class=" pr_drowdown me-2" id="floatingSelect" aria-label="Floating label select example">
                            <option value="股票名稱">股票名稱</option>
                            <option value="股票代碼">股票代碼</option>
                            <option value="成交量">成交量</option>
                            <option value="股價">股價</option>
                            <option value="漲幅">漲幅</option>
                  </select>
                  
              </div>

              
                <div class="form-floating mb-3 me-2 width100">
                    <input type="text" class="form-control pr_textbox " placeholder="查詢條件" id="floatingInput">
                </div>
            
              <div class="form-floating mb-3">
                    <div class="d-flex ">
                        <button class="font-bold btn btn-primary text-nowrap" type="button">
                                查詢
                        </button>
                    </div>
              </div>                  
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="text-center pr_backgroundColor border_top  ">
                    <h3 class="fw-bold pr_color">
                        股票走勢圖
                    </h3>
                </div>
                <!-- 要換成chartJS -->
                <figure class="figure">
                    <img src="../assets/images/Picture.webp" class="d-block mx-auto img-fluid">
                    <figcaption class="figure-caption text-center bg-primary text-white">當前股價趨勢圖</figcaption>
                </figure>
                <!-- 5張圖片放置區，要更動上放圖片 -->

                <!-- 5張圖片放置區，要更動上放圖片 -->

                <!-- tab頁籤 顯示公司資訊 -->
                <ul class="nav nav-pills mb-3" id="pills-finger-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="pills-finger-tab" data-bs-toggle="pill" data-bs-target="#pills-finger" type="button" role="tab" aria-controls="pills-finger" aria-selected="true">財報指標說明</button>
                    </li>
                    <!-- <li class="nav-item border" role="presentation">
                      <button class="nav-link" id="pills-product-tab" data-bs-toggle="pill" data-bs-target="#pills-product" type="button" role="tab" aria-controls="pills-product" aria-selected="false">產品資訊</button>
                    </li> -->
                    
                </ul>
                <div class="tab-content border border-primary border-2 mb-3" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-finger" role="tabpanel" aria-labelledby="pills-finger-tab">
                        <h4 class="text-primary">各種指標說明</h4>
                        <h5 class="bg-primary text-white">1、EPS</h5>
                        <p>這裡樣放公司EPS資訊</p>

                        <h5 class="bg-primary text-white">2、自由現金流</h5>
                        <p>這裡樣放公司自由現金流資訊</p>

                        <h5 class="bg-primary text-white">3、本益比</h5>
                        <p>這裡樣放公司投本益比資訊</p>


                    </div>
                    <!-- <div class="tab-pane fade" id="pills-product" role="tabpanel" aria-labelledby="pills-product-tab">
                        <h4 class="text-primary">產品介紹</h4>
                        <h5 class="bg-primary text-white">產品種類</h5>
                        <ol>
                            <li>A產品</li>
                            <li>B產品</li>
                            <li>C產品</li>
                        </ol>
                    </div> -->
                </div>
                <!-- tab頁籤 顯示公司資訊 -->
                <!-- 相關新聞 -->

                <!-- 相關新聞 -->
                <!-- 留言區 -->

                <!-- 留言區 -->


            </div>
            <div class="col-md-4">
                <div class="text-center pr_backgroundColor border_top  ">
                    <h3 class="fw-bold pr_color">
                        A股票(代號123)
                    </h3>
                </div>
                <h5 class="text-center"><span class="badge bg-accent-pink text-primary">半導體</span></h5>
                <h4 class="text-center">現在股價<i class="bi bi-currency-dollar text-primary"></i>569台幣</h4>
                <!-- tab頁籤 顯示公司資訊 -->
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="pills-intro-tab" data-bs-toggle="pill" data-bs-target="#pills-intro" type="button" role="tab" aria-controls="pills-intro" aria-selected="true">公司資訊</button>
                    </li>
                    <li class="nav-item border" role="presentation">
                      <button class="nav-link" id="pills-product-tab" data-bs-toggle="pill" data-bs-target="#pills-product" type="button" role="tab" aria-controls="pills-product" aria-selected="false">產品資訊</button>
                    </li>
                    
                </ul>
                <div class="tab-content border-dashed border-primary border-2 mb-3" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-intro" role="tabpanel" aria-labelledby="pills-intro-tab">
                        <h4 class="text-primary">公司介紹</h4>
                        <h5 class="bg-primary text-white">1、歷史</h5>
                        <p>這裡樣放公司歷史資訊</p>

                        <h5 class="bg-primary text-white">2、人數</h5>
                        <p>這裡樣放公司人數資訊</p>

                        <h5 class="bg-primary text-white">3、投資人專區</h5>
                        <p>這裡樣放公司投資人專區資訊(ex: 投資人專區網址、財報相關連結等)</p>


                    </div>
                    <div class="tab-pane fade" id="pills-product" role="tabpanel" aria-labelledby="pills-product-tab">
                        <h4 class="text-primary">產品介紹</h4>
                        <h5 class="bg-primary text-white">產品種類</h5>
                        <ol>
                            <li>A產品</li>
                            <li>B產品</li>
                            <li>C產品</li>
                        </ol>
                    </div>
                </div>
                <!-- tab頁籤 顯示公司資訊 -->
                <button class="btn btn-primary w-100 mb-3"><i class="bi bi-heart-fill text-danger"></i> 評價</button>
                <button class="btn btn-primary w-100"><i class="bi bi-star-fill text-warning"></i> 追蹤</button>
            </div>
        </div>

            


    </div>
        
    </div>
 
</div>

   
 