<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-2">
                <h6 class="text-black">網站地圖<img src="../assets/images/paw.png" alt="paw"></h6>
                <ul class="list-unstyled">
                    <li class="text-primary"><a href="#">股票</a></li>
                    <li class="text-primary"><a href="#">ETF</a></li>
                    <li class="text-primary"><a href="#">新聞</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <h6 class="text-black">團隊<img src="../assets/images/paw.png" alt="paw"></h6>
                <ul class="list-unstyled">
                    <li class="text-primary"><a href="#">關於我們</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <h6 class="text-black">support<img src="../assets/images/paw.png" alt="paw"></h6>
                <ul class="list-unstyled">
                    <li class="text-primary"><a href="https://www.hexschool.com/" target="_blank">六角學院</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-2 offset-lg-4">
                <h6 class="text-black">追蹤我們<img src="../assets/images/paw.png" alt="paw"></h6>
                <ul class="list-unstyled">
                    <li class="text-primary"><a href="#" target="_blank"><i class="bi bi-envelope"></i>&nbsp;Email</a></li>
                </ul>
            </div>
        </div>

        <!-- 參考網址：https://codepen.io/rainiewang/pen/EJLomv?editors=1100 -->
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="footer-line">
                    <span><img src="../assets/images/logomark.png" class="img-fluid d-block mx-auto img-dark-brown"></span>
                </div>
            </div>
            <div class="col-12 mx-auto">
                <p class="text-black-30 text-center mt-md-1 mt-3">Copyright © StockCat 2023 All right reserved.</p>
            </div>
        </div>

</footer>