<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a href="index.html" class="navbar-brand">
            <img src="../assets/images/logo.png" width="264" height="60" alt="logo">
        </a>
        <!-- 漢堡bar -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-center" >
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="index.html">首頁</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aboutus.html">關於我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="list_page.html">新聞</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="list_page.html">股票和ETF</a>
                </li>
                <li class="nav-item">
                    <img src="../assets/images/paws.png" class="img-fluid" width="126" height="64" alt="paws">
                </li>
                <li class="nav-item">
                    <a href="login.html" class="btn btn-primary"><i class="bi bi-person"></i>登入/註冊</a>
                </li>
            </ul>

        </div>

    </div>
</nav>

