<div class="bg-accent-pink p-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-4">
                <img src="../assets/images/Desktop_kv2.png" alt="Desktop_kv2" class="d-none d-lg-block img-fluid">
                <img src="../assets/images/Mobile_kv2.png" alt="Mobile_kv2" class="d-block d-lg-none img-fluid">
            </div>
            <div class="col-12 col-lg-4">
                <div class="position-relative">
                    <img src="../assets/images/cloud.png" alt="cloud" class="d-none d-lg-block img-fluid">
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <p class="text-primary">可以看新聞觀察公司現況， 現在這個年代貓咪也要學投資！</p>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>