<div class="bg-accent-pink">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-4">
                <img src="../assets/images/Desktop_kv2.png" alt="" class="d-none d-lg-block image-fluid">
                <img src="../assets/images/Mobile_kv2.png" alt="" class="d-block d-lg-none image-fluid">
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
</div>