<div class="bg-accent-pink">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-4">
                <img src="../assets/images/Desktop_kv2.png" alt="Desktop_kv2" class="d-none d-lg-block img-fluid">
                <img src="../assets/images/Mobile_kv2.png" alt="Mobile_kv2" class="d-block d-lg-none img-fluid">
            </div>
            <div class="col-12 col-lg-4">
                <img src="../assets/images/cloud.png" alt="cloud" class="d-none d-lg-block img-fluid">
            </div>
        </div>
    </div>
</div>