<div class="bg-accent-pink p-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-4">
                <img src="../assets/images/Desktop_kv2.png" alt="Desktop_kv2" class="d-none d-lg-block img-fluid">
                <img src="../assets/images/Mobile_kv2.png" alt="Mobile_kv2" class="d-block d-lg-none img-fluid">
            </div>
            <div class="col-12 col-lg-4">
                <div class="position-relative d-none d-lg-block">
                    <img src="../assets/images/cloud.png" alt="cloud" class="d-none d-lg-block img-fluid">
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <p class="text-primary">可以看新聞觀察公司現況， 現在這個年代貓咪也要學投資！</p>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <nav class="navbar navbar-light bg-light-brown mb-3 border-bottom border-primary border-2">
                    <div class="container-fluid">
                        <span class="navbar-text">
                            共 6,199 筆新聞
                        </span>
                      <form class="d-flex">
                        <div class="col-4">
                            <div class="navbar-text">排序方式</div>
                        </div>
                        <div class="col-8">
                            <select class="form-select" aria-label="Default select example">
                                <option selected value="0">依發布時間</option>
                                <option value="1">只顯示股票新聞</option>
                                <option value="2">只顯示 ETF 新聞</option>
                            </select>
                        </div>
                      </form>
                    </div>
                </nav>
                <!-- 卡片一樣高度 source: https://www.codehim.com/bootstrap/bootstrap-cards/bootstrap-5-equal-height-cards/ -->
                <ul class="row row-cols-1 row-cols-md-3 g-4">
                    <li class="col d-flex align-items-stretch">
                      <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                        <img src="../assets/images/Desktop_news1.png" class="card-img-top" alt="Desktop_news1">
                        <div class="card-body">
                          <h5 class="card-title">台積電高雄廠轉先進製程 王美花：台中廠仍在都審</h5>
                          <p class="card-text">台積電預計在台中與高雄繼續建廠，經濟部長王美花4日表示，台積電在台中的2奈米場域仍在台中市政府都市計畫審查中，至於高雄廠部分，高雄市政府也積極協助處理水電...</p>
                          <div class="d-flex align-items-center">
                            <h6><span class="badge bg-accent-pink text-primary">半導體</span></h6>
                            <p class="card-text pb-2"><small class="text-brown-50">1小時前</small></p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="col d-flex align-items-stretch">
                      <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                        <img src="../assets/images/Desktop_news2.png" class="card-img-top" alt="Desktop_news2">
                        <div class="card-body">
                          <h5 class="card-title">晶技Q3營運展望佳 股價緩步填息站上短期均線</h5>
                          <p class="card-text">頻率元件廠晶技 (3042-TW) 對第三季接單能見度漸增，預估營收將較第二季雙位數成長，本周股價收在 91 元，周漲 1%，股價已站上所有短期均線，且技術線型轉佳，有利...</p>
                          <div class="d-flex align-items-center">
                            <h6><span class="badge bg-accent-pink text-primary">熱門股</span></h6>
                            <p class="card-text pb-2"><small class="text-brown-50">1小時前</small></p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="col d-flex align-items-stretch">
                      <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                        <img src="../assets/images/Desktop_news3.png" class="card-img-top" alt="Desktop_news3">
                        <div class="card-body">
                          <h5 class="card-title">山富後市營運續旺</h5>
                          <p class="card-text">山富（2743）股價4日開高走高，終場上漲3.33％、收在139.5元，位居觀光股前段班。不過，上周合計仍下跌10.58％，周線終止連二紅。山富股價自5月中起漲，一個...</p>
                          <div class="d-flex align-items-center">
                            <h6><span class="badge bg-accent-pink text-primary">半導體</span></h6>
                            <p class="card-text pb-2"><small class="text-brown-50">1小時前</small></p>
                          </div>
                        </div>
                      </div>
                    </li>
                </ul>
                <!-- 分頁 -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <li class="page-item mr-3">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一頁</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                      <li class="page-item"><a class="page-link" href="#">5</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">下一頁</a>
                      </li>
                    </ul>
                  </nav>
            </div>

        </div>
    </div>
</div>