<div class="container p-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card mb-3 shadow-sm p-3 mb-5 bg-body rounded" style="max-width: 540px;">
                <div class="row g-0 justify-content-center">
                  <div class="col-12">
                    <img class="mx-auto d-block img-fluid" src="../assets/images/logomark.png" alt="logomark">
                  </div>
                  <div class="col-12">
                    <div class="card-body">
                      <h5 class="card-title text-primary text-center">馬上註冊財經貓，協助您整合投資！</h5>
                      <p class="card-text text-brown-50 text-center">加入財經貓，尋找自己適合公司來投資吧！</p>
                      <div class="d-grid gap-2 col-3 mx-auto">
                        <a href="#" class="btn btn-primary">馬上註冊</a>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>