<div class="search">
    <div class="container">
      <div class="d-flex">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6">
              <h3 class="text-primary">搜尋你感興趣的股票</h3>
              <form action="#">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="輸入台股代碼，搜尋公司價值" aria-label="Recipient's username" aria-describedby="button-addon2">
                  <button class="btn btn-outline-primary border-circle" type="submit" id="button-addon2"><i class="bi bi-search"></i></button>
                </div>
              </form>
              <div class="d-flex">
                  <p class="me-3 text-black">推薦股票</p>
                  <a class="me-3 text-primary" href="#">台積電</a>
                  <a class="me-3 text-primary" href="#">中華電信</a>
                  <a class="me-3 text-primary" href="#">中國鋼鐵</a>
              </div>
              
          </div>
          <div class="col-12 col-lg-6">
              <!-- <img class="img-fluid" src="../assets/images/Mobile_kv.png" alt="cat"> -->
              <img class="img-lg-fluid" height="526" src="../assets/images/Desktop_kv.png" alt="cat">
          </div>
        </div>
      </div>
    </div>
  </div>