    <div class="col-md-3 upper">
                <input type="checkbox" name="" id="sideMenu-active" onclick="openNav()" />
                <label for="sideMenu-active" class="labelSidebar">
                    <i class="fas fa-angle-right"></i>
                </label>
                <!-- for Computer -->
                <div class="row sidenavComputer me-md-2 me-10">
                        <!-- 標題 -->
                        <h1 class="letter-spaing-1em fw-bold Noto-Sans-CJK-TC fs-3 pr_color">股票分類</h1>
                        
                        <!-- side menu -->
                        
                        <div class="container m-md-2">
                            <!-- 摺疊按鈕 -->
                            <a class="btn-link" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">
                                <span class="d-flex mb-3">
                                    <span class="material-icons removeIcon fs-10 me-3">
                                        remove
                                    </span>
                                    <span class="material-icons addIcon fs-10 me-3">
                                        add
                                    </span>
                                    ETF
                                </span>
                            </a>
                            <!-- 摺疊選單 -->
                            <div class="collapse show border_bottom m-md-2" id="collapseExample">
                            
                                    <ul>
                                        <li class="m-2 pr_color">
                                            <label><input type="checkbox" class="me-md-2" name="" vaule="">區域型</label>
                                        </li>
                                        <li class="m-2 pr_color">
                                            <label><input type="checkbox" class="me-md-2" name="" vaule="">單一國家型</label>
                                        </li>
                                        <li class="m-2 pr_color">
                                            <label><input type="checkbox" class="me-md-2" name="" vaule="">產業型</label>
                                        </li>
                                        <li class="m-2 pr_color">
                                            <label><input type="checkbox" class="me-md-2" name="" vaule="">主題型</label>
                                        </li>
                                    </ul>
                            
                            </div>
                            <!-- 摺疊選單 -->
        
        
                            <!-- 摺疊按鈕 -->
                            <a class="btn-link" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="true" aria-controls="collapseExample2">
                                <span class="d-flex mb-3">
                                    <span class="material-icons removeIcon fs-10 me-3">
                                        remove
                                    </span>
                                    <span class="material-icons addIcon fs-10 me-3">
                                        add
                                    </span>
                                    股票
                                </span>
                            </a>
                            <!-- 摺疊選單 -->
                            <div class="collapse show border_bottom m-md-2" id="collapseExample2">
                            
                                    <ul>
                                        <li class="m-2 pr_color">
                                            <label><input type="checkbox" class="me-md-2" name="" vaule="">金融股</label>
                                        </li>
                                        <li class="m-2 pr_color">
                                            <label><input type="checkbox" class="me-md-2" name="" vaule="">科技股</label>
                                        </li>
                                        <li class="m-2 pr_color">
                                            <label><input type="checkbox" class="me-md-2" name="" vaule="">概念股</label>
                                        </li>
                                        <li class="m-2 pr_color">
                                            <label><input type="checkbox" class="me-md-2" name="" vaule="">民生股</label>
                                        </li>
                                        <li class="m-2 pr_color">
                                            <label><input type="checkbox" class="me-md-2" name="" vaule="">電信股</label>
                                        </li>
                                        <li class="m-md-2">
                                            <a href="#">MORE</a>
                                        </li>
                                    </ul>
                                
                            </div>
                            <!-- 摺疊選單 -->
                            <!-- 摺疊按鈕 -->
                            <a class="btn-link" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="true" aria-controls="collapseExample3">
                                <span class="d-flex mb-3">
                                    <span class="material-icons removeIcon fs-10 me-3">
                                        remove
                                    </span>
                                    <span class="material-icons addIcon fs-10 me-3">
                                        add
                                    </span>
                                    價錢
                                </span>
                            </a>
                            <!-- 摺疊選單 -->
                            <div class="collapse show border_bottom me-2 ms-md-2 mt-md-2 mb-4" id="collapseExample3">
                                    <ul>
                                        <li class="m-2">
                                            <label><input type="textbox" class="pr_textbox me-md-2" name="" vaule="" ></label>
                                        </li>
                                        
                                    </ul>
                            </div>
                            <!-- 摺疊選單 -->
        
                            <div class="mb-md-4">
                                <ul>
                                    <li class="m-2">
                                        <button alt="search" class="btn btn-primary">
                                            <div class="fit">查詢分類</div>
                                        </button>
                                    </li>
                                    
                                </ul>
                                
                            </div>
                        </div>
                        
                    </div>
                <!-- for Computer -->
                <!-- for Mobile -->
            <div class="row sidenav me-md-2 me-10" id="mySidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <!-- 標題 -->
                    <h1 class="letter-spaing-1em fw-bold Noto-Sans-CJK-TC fs-3 pr_color">股票分類</h1>
                    
                    <!-- side menu -->
                    
                    <div class="container m-md-2">
                        <!-- 摺疊按鈕 -->
                        <a class="btn-link" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">
                            <span class="d-flex mb-3">
                                <span class="material-icons removeIcon fs-10 me-3">
                                    remove
                                </span>
                                <span class="material-icons addIcon fs-10 me-3">
                                    add
                                </span>
                                ETF
                            </span>
                        </a>
                        <!-- 摺疊選單 -->
                        <div class="collapse show border_bottom m-md-2" id="collapseExample">
                        
                                <ul>
                                    <li class="m-2 pr_color">
                                        <label><input type="checkbox" class="me-md-2" name="" vaule="">區域型</label>
                                    </li>
                                    <li class="m-2 pr_color">
                                        <label><input type="checkbox" class="me-md-2" name="" vaule="">單一國家型</label>
                                    </li>
                                    <li class="m-2 pr_color">
                                        <label><input type="checkbox" class="me-md-2" name="" vaule="">產業型</label>
                                    </li>
                                    <li class="m-2 pr_color">
                                        <label><input type="checkbox" class="me-md-2" name="" vaule="">主題型</label>
                                    </li>
                                </ul>
                        
                        </div>
                        <!-- 摺疊選單 -->


                        <!-- 摺疊按鈕 -->
                        <a class="btn-link" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="true" aria-controls="collapseExample2">
                            <span class="d-flex mb-3">
                                <span class="material-icons removeIcon fs-10 me-3">
                                    remove
                                </span>
                                <span class="material-icons addIcon fs-10 me-3">
                                    add
                                </span>
                                股票
                            </span>
                        </a>
                        <!-- 摺疊選單 -->
                        <div class="collapse show border_bottom m-md-2" id="collapseExample2">
                        
                                <ul>
                                    <li class="m-2 pr_color">
                                        <label><input type="checkbox" class="me-md-2" name="" vaule="">金融股</label>
                                    </li>
                                    <li class="m-2 pr_color">
                                        <label><input type="checkbox" class="me-md-2" name="" vaule="">科技股</label>
                                    </li>
                                    <li class="m-2 pr_color">
                                        <label><input type="checkbox" class="me-md-2" name="" vaule="">概念股</label>
                                    </li>
                                    <li class="m-2 pr_color">
                                        <label><input type="checkbox" class="me-md-2" name="" vaule="">民生股</label>
                                    </li>
                                    <li class="m-2 pr_color">
                                        <label><input type="checkbox" class="me-md-2" name="" vaule="">電信股</label>
                                    </li>
                                    <li class="m-md-2">
                                        <a href="#">MORE</a>
                                    </li>
                                </ul>
                            
                        </div>
                        <!-- 摺疊選單 -->
                        <!-- 摺疊按鈕 -->
                        <a class="btn-link" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="true" aria-controls="collapseExample3">
                            <span class="d-flex mb-3">
                                <span class="material-icons removeIcon fs-10 me-3">
                                    remove
                                </span>
                                <span class="material-icons addIcon fs-10 me-3">
                                    add
                                </span>
                                價錢
                            </span>
                        </a>
                        <!-- 摺疊選單 -->
                        <div class="collapse show border_bottom me-2 ms-md-2 mt-md-2 mb-4" id="collapseExample3">
                                <ul>
                                    <li class="m-2">
                                        <label><input type="textbox" class="pr_textbox me-md-2" name="" vaule="" ></label>
                                    </li>
                                    
                                </ul>
                        </div>
                        <!-- 摺疊選單 -->

                        <div class="mb-md-4">
                            <ul>
                                <li class="m-2">
                                    <button alt="search" class="btn btn-primary">
                                        <div class="fit">查詢分類</div>
                                    </button>
                                </li>
                                
                            </ul>
                            
                        </div>
                    </div>
                    
                </div>
                <!-- for Mobile -->
    </div>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
   
 