.footer{
  background: $white;
  line-height: 24px;
  img{
    height: 32px;
    widows: 32px;
  }
  h6{
    line-height: 19.2px;
  }
}
//變更圖片顏色
//https://tw511.com/a/01/27406.html
.img-dark-brown{
  filter:grayscale(65%);
}

// text-black-30
.text-black-30{
  color: $brown-30;
}

// footer線條偽元素製作
.footer-line{

  span {
    display: block;
    font-size: 3em;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      background: $brown-10;
      width: 40%;
      height: 1px;
      left: 5%;
    }
    &::before{
      content: "";
      position: absolute;
      top: 50%;
      background: $brown-10;
      width: 40%;
      height: 1px;
      right: 5%;
    }
  }

} 
