.btn{
  &:hover{
    background-color: $white;
    color: $primary;
    border-color: $primary;
  }
}

a{
  text-decoration: none;
  &:hover{
    color: $black;
  }
}

.nav-link{
  &:hover{
    color: $black;
  }
}

