.bg-dark-gray{
    background-color: $bg-dark-gray;
}

.wh-480{
    width: 480px;
    height: 480px;
}

.w-300{
    width: 300px;
}

.wh-36{
    width: 36px;
    height: 36px;
}

.h-36{
    height: 36px;
}

.fz-16{
    font-size: 16px !important;
}

.hover-opacity-7:hover{
    opacity: 0.7;
}