// 共用變數存放區
// 色彩設定
//主題色
$primary:       #947155;
$secondary:     #F6CB97;
$accent-blue:   #F7E5C1;
$accent-pink:   #FDF5EE;
$white:         White;
$black:         #3D2622;
$black-50:      rgb(61, 38, 34, 0.5);
$black-30:      rgb(61, 38, 34, 0.3);
$black-10:      rgb(61, 38, 34, 0.1);
$bg-dark-gray:  #EEE9E4;
$bg-gray:       #F6F3EE;

// 文字大小設定
$font-size-base: 1rem; // 16px

$font-size-sm: $font-size-base * 0.875; // 14px

$h1-font-size: $font-size-base * 4; // 64px
$h2-font-size: $font-size-base * 3; // 48px
$h3-font-size: $font-size-base * 1.75; // 28px
$h4-font-size: $font-size-base * 1.5; // 24px
$h5-font-size: $font-size-base * 1.25; // 20px
$h6-font-size: $font-size-base; // 16px

