// 共用變數存放區
// 色彩設定
//主題色
$primary:       #947155;
$secondary:     #F6CB97;
$accent-blue:   #F7E5C1;
$accent-pink:   #FDF5EE;
$white:         White;
$black:         #3D2622;
$black-50:      rgb(61, 38, 34, 0.5);
$black-30:      rgb(61, 38, 34, 0.3);
$black-10:      rgb(61, 38, 34, 0.1);
$bg-dark-gray:  #EEE9E4;
$bg-gray:       #F6F3EE;

