// 共用變數存放區
// 色彩設定
//主題色
$primary:       #947155;
$secondary:     #F6CB97;
$accent-blue:   #F7E5C1;
$accent-pink:   #FDF5EE;
$white:         White;
$brown:         #3D2622;
$brown-50:      rgba(61, 38, 34, 0.5);
$brown-30:      rgba(61, 38, 34, 0.3);
$brown-10:      rgba(61, 38, 34, 0.1);
$light-orange:  #EEE9E4;
$light-brown:       #F6F3EE;


// 文字大小設定
$font-size-base: 1rem; // 16px

$font-size-sm: $font-size-base * 0.875; // 14px

$h1-font-size: $font-size-base * 4; // 64px
$h2-font-size: $font-size-base * 3; // 48px
$h3-font-size: $font-size-base * 1.75; // 28px
$h4-font-size: $font-size-base * 1.5; // 24px
$h5-font-size: $font-size-base * 1.25; // 20px
$h6-font-size: $font-size-base; // 16px

// https://hackmd.io/@south2/Sk0A51522#%E7%A7%BB%E9%99%A4-a-%E9%80%A3%E7%B5%90%E5%BA%95%E7%B7%9A
// $link-decoration: underline !default;
$link-decoration: none !default; // *custom