.btn-link {
    .addIcon {
        display: block; // 展開的 icon 預設顯示
    }
    .removeIcon {
        display: none; // 收合的 icon 預設不顯示
    }
    &:not(.collapsed) {
      .addIcon {
      display: none;
    }
    .removeIcon {
      display: block;
    }
  }
}
.border_bottom{
    border-bottom: 1px solid #947155;
}

.border_top{
    border-top: 1px solid #947155;
}
.pr_color{
    color: #947155;
}
.pr_backgroundColor{
    background-color: #f0dac8;
}

input, textarea{
    --bs-focus-ring-color: #947155;
    border-color: #947155;
}



.pr_button{
    width: auto;
    color: #ffffff;
    background-color: #947155;
    border-radius: 5px;
    border: 0px;
    background-origin: padding-box;
    padding: 8px 16px 8px 16px;
    .fit{
        @media (min-width: 768px) {
            padding: 8px 16px 8px 16px;
        }
        padding: 0px;
    }
    
}

.table-danger {
    border-color: #947155;
}
.table-success {
    border-color: #947155;
}

.pr_drowdown{
    width: auto;
    border-radius: 5px;
    border: 1px solid #947155;
    background-origin: padding-box;
    padding: 8px 16px 8px 16px;
    color: #947155;
}

.pr_textbox{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #947155;
    background-origin: padding-box;
    padding: 8px 8px 8px 8px;
    color: #947155;
}
.pr_textbox1{
    width: auto;
    border-radius: 5px;
    border: 1px solid #947155;
    background-origin: padding-box;
    padding: 8px 8px 8px 8px;
    color: #947155;
}

ul{
    padding-left: 1px;
}

.sidenavComputer{
    height: 100%;
    border-right: 3px solid #d1d1d194;
    @media (min-width: 768px) {
        display: block;
    }
    display: none;
}

//sideBar
.sidenav {
    height: 100%;
    width: 0;
    border-right: 3px solid #d1d1d194;
    display: flex;
    flex-direction: column; //主軸
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    @media (min-width: 768px) {
        display: none;
    }
  }

  .sidenav .closebtn {
    @media (min-width: 768px) {
        display: none;
        }
    position: absolute;
    top: -10px;
    left: 140px;
    font-size: 36px;
    margin-left: 50px;
  }
  
.labelSidebar {
    @media (min-width: 768px) {
    display: none;
    }
    width: 20px;
    height: 80px;
    background-color: #d1d1d1;
    color: #686666;
    position: absolute; // 絕對定位在 sideMenu 上
    right: -10px;
    top: 0; //絕對定位垂直置中的技巧
    bottom: 0; //絕對定位垂直置中的技巧
    margin: auto;
    line-height: 80px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    //box-shadow: 5px 0 5px rgba(23, 23, 54, 0.6);
  }
  #sidenav-active:checked + .sideMenu {
    transform: translateX(0);
    // 點擊 sideMenu 時，checkbox 會啟動 id，讓側邊選單跑出來
    label .fas {//這是反轉icon
        transform: scaleX(-0.5);
    }
  }

  #sideMenu-active {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

.upper{
    z-index: 3;
    position: relative;
}

.form-floating > .form-control, .form-floating > .form-control-plaintext, .form-floating > .form-select {
     height: 10px; 
    min-height: 10px; 
    line-height: 1.25;
    box-sizing: border-box;
}
.form-floating > .form-control, .form-floating > .form-control-plaintext {
    padding: 1.2rem 0.75rem;
}
.width100{
    width: 100%;
}
.form-floating > label {
    padding: 5px ;
    
}
.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown), .form-floating > .form-control-plaintext:focus, .form-floating > .form-control-plaintext:not(:placeholder-shown) {
    padding: 1.2rem 0.75rem;
}
.reSize{
    @media (min-width: 992px) {
        width: auto;
        height: auto;
    }
    @media (min-width: 768px) {
        width: 80%;
        height: auto;
    }
    width: 75%;
    height: auto;
}

.imageRecolor{
    &:hover{
        filter: opacity(0.6) drop-shadow(0 0 0 rgb(34, 0, 255)); 
    }
    &:active{
        filter: opacity(0.4) drop-shadow(0 0 0 red); 
        
    }

}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #ffffff;
    background-color:#947155 ;
    border-color: #947155;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;

    &:hover{
        color: #000000;

    }
}

.nav-tabs {
    --bs-nav-tabs-border-width: 1px;
    border-bottom: 5px solid #947155;
}

.imgSize{
    width: 20px;
    height: 20px;
}

//table裡用來顯示出漲幅
.list1{
    color: red !important;
    &::before{
        content: "▲";/*填上你想要的項目符號*/
        margin-right: 1px;
    }
}
.list2{
    color: green !important;
    &::before{
        content: "▼";/*填上你想要的項目符號*/
        margin-right: 1px;
    }
}
