<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/Google-font-include'); -%>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Castoro&family=Noto+Sans+TC:wght@100&family=Saira+Extra+Condensed:wght@300&family=Shrikhand&display=swap" rel="stylesheet">
    <title>財經貓</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="bg-light-orange">
      <div class="container aboutus">
        <div class="row">
          <div class="col-10 mx-auto">
  
            <div class="row d-flex justify-content-around align-items-center pb-5 border-bottom border-primary broder-3" data-aos="fade-up">
              <div class="col-md-3">
                <img class="radius-percent-50  wh-140" src="../assets/images/profile_snow.jpg">
              </div>
              <div class="col-md-7" > 
                <span class="fs-5 name d-block fw-700 text-primary Author_Name">雪朱</span>
                <p>
                  你好~我是雪朱，來自彰化和美，畢業於中興大學資工研究所。目前在彰化基督醫院資訊部服務，期待能在此發揮網頁專長和繼續做中學習網頁和專案開發知識！
                </p>
                <span class="fs-6 name d-inline-block mb-2　fw-400 text-primary fw-700">與我聯絡</span><br>
                <a class="hover-opacity-7" href="https://github.com/snow1224">Github</a>
                <span class="text-primary">、Dicord ID：meowmeow</span>
              </div>
            </div>
  
            <div class="row d-flex justify-content-around align-items-center py-5 border-bottom border-primary" data-aos="fade-up">
              <div class="col-md-3">
                <img class="radius-percent-50  wh-140" src="../assets/images/profile_AAAAA.jpg">
              </div>
              <div class="col-md-7"> 
                <span class="fs-5 name d-block fw-700 text-primary Author_Name">A5</span>
                <p>
                一張來自高雄的A5，努力在工程師的道路上前進著。感謝一路上給予我支持、鼓勵的小夥伴們，也感謝任何一個遇到的挫折和機會，過去的經歷不會消失，他們使人成長。
                </p>
              </div>
            </div>
  
            <div class="row d-flex justify-content-around pt-5 align-items-center" data-aos="fade-up">
              <div class="col-md-3">
                <img class="radius-percent-50 wh-140" src="../assets/images/profile_michael.png">
              </div>
              <div class="col-md-7"> 
                <span class="fs-5 name d-block fw-700 text-primary Author_Name">Eshiunm</span>
                <p>
                  您好！我是剛進入前端領域兩個多月的菜鳥，
                  我叫 Eshiunm，目前對於前端技術有著濃厚的興趣，
                  期望自己未來能夠設計出好用且高效的網頁！
                </p>
              </div>
            </div>
  
  
          </div>
        </div>
      </div>
    </div>
    

    <%- include('./layout/footer'); -%>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        once: true,
      });
    </script>
    <script type="module" src="../main.js"></script>
  </body>
</html>