<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>財經貓</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="bg-light-orange">
      <div class="container aboutus ">
        <div class="row">
          <div class="col-10 mx-auto">
  
            <div class="row d-flex justify-content-around pb-5 border-bottom border-primary broder-3">
              <div class="col-md-3">
                <img class="radius-percent-50  wh-140" src="https://fakeimg.pl/275x275/">
              </div>
              <div class="col-md-7"> 
                <span class="fs-5 name d-inline-block mb-2">大名</span>
                <p>
                  自我介紹
                  聯絡資訊
                </p>
              </div>
            </div>
  
            <div class="row d-flex justify-content-around py-5 border-bottom border-primary">
              <div class="col-md-3">
                <img class="radius-percent-50  wh-140" src="https://fakeimg.pl/275x275/">
              </div>
              <div class="col-md-7"> 
                <span class="fs-5 name d-inline-block mb-2">大名</span>
                <p>
                  自我介紹
                  聯絡資訊
                </p>
              </div>
            </div>
  
            <div class="row d-flex justify-content-around pt-5">
              <div class="col-md-3">
                <img class="radius-percent-50  wh-140" src="../assets/images/profile_michael.png">
              </div>
              <div class="col-md-7"> 
                <h5 class="fs-5 name d-inline-block mb-2　fw-400 text-primary">Eshiunm</h5>
                <p>
                  您好！，我是剛進入前端領域兩個多月的菜鳥，
                  <br>
                  我叫 Eshiunm，目前對於前端技術有著濃厚的興趣，
                  <br>
                  期望自己未來能夠設計出好用且高效的網頁！
                </p>
              </div>
            </div>
  
  
          </div>
        </div>
      </div>
    </div>
    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>