<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/google_icon_cdn') -%>
    <title>登入</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="bg-light-orange login">
      <div class="container pt-md-5 pb-md-5 pt-3 pb-3 ">
            <div class="row d-flex justify-content-around align-items-center ">
              <div class="col-xl-6 d-flex justify-content-center">
                 <!-- 登入區塊 -->
                <div class="login w-300 mb-5">
                  <form action="">
                    <div class="d-flex mb-3">
                      <label for="useremail">
                        <span class="me-1 text-primary material-icons-round wh-36 fs-3 d-flex align-items-center">
                          email
                        </span>
                      </label>
                      <input class="w-100 ps-2 fz-16 bg-dark-gray border border-primary broder-3" type="email" id="useremail" placeholder="請輸入電子郵件">
                    </div>
                    
                    <div class="d-flex mb-4">
                      <label for="userpassword">
                        <span class="material-icons-round me-1 text-primary wh-36 fs-3 d-flex align-items-center">
                          lock
                          </span>
                      </label>
                      <input class="w-100 ps-2 fz-16 bg-dark-gray border border-primary broder-3" type="password" id="userpassword" placeholder="請輸入密碼"> 
                    </div>
                    
                    <button type="submit" class="btn btn-primary d-block w-100">
                      登入
                      <img class="h-36" src="../assets/images/paw.png" alt="貓掌印">
                    </button>
                  
                  </form>
                </div>
              </div>

              <div class="col-xl-6 d-flex justify-content-center">
                <!-- 正在敲鍵盤的貓貓區塊 -->
                <div class="conversation text-center" data-aos="fade-left">
                  <a class="d-block w-100 hover-opacity-7" href="register.html">
                    <img class="wh-480" src="../assets/images/Desktop_kv.png" alt="正在敲鍵盤的貓貓圖片">
                  </a>
                </div>
              </div>
            </div>
        </div>
    </div>
    

    <%- include('./layout/footer'); -%>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        once: true,
      });
    </script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
