.aboutus{
    padding-top: 160px;
    padding-bottom: 160px;
}

.radius-percent-50{
    border-radius: 50%;
}

.wh-140{
    width: 140px;
    height: 140px;
}

.fw-400{
    font-weight: 700 !important;
}