.aboutus{
    padding-top: 160px;
    padding-bottom: 160px;

    .Author_Name{
        margin-bottom: 16px;
    }
}

.radius-percent-50{
    border-radius: 50%;
}

.wh-140{
    width: 140px;
    height: 140px;
}

.fw-700{
    font-weight: 700 !important;
}