.register{
	@media(max-width: 768px){
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

//對話框
.welcome{
	position: relative;
	@media(max-width: 680px){
		width: 360px;
		height: 360px;
		img{
			width: 360px;
			height: 360px;
		}
	}
	@media(max-width: 480px){
		width: 240px;
		height: 240px;
		img{
			width: 240px;
			height: 240px;
		}
	}
}
.welcome a::before{
	content: "歡迎光臨 Stock Cat！";
	white-space: pre;
	display: block;
	position: absolute;
	top:23%;
	left: -20%;
	height: 50px;
	color: #FFFFFF;
	background: #947155;
	border-radius: 10%;
	border:3px solid #333;
	padding: 8px 16px 8px 16px;
	@media(max-width: 1199px){
		left: -6%;
		top: 0%;
	}
	@media(max-width: 991px){
		left: -20%;
		top: 23%;
	}
	@media(max-width: 767px){
		left: -20%;
	}
	@media(max-width: 680px){
		left: -35%;
	}
	@media(max-width: 520px){
		top: -1%;
		left: -20%;
	}
	@media(max-width: 480px){
		top: 15%;
		left: -70%;
	}
	@media(max-width: 440px){
		top: -10%;
		left: -35%;
	}
}
